  @font-face {
  font-family: KC Ill Hand;
  src: url(sansation_light.woff);
  }

.header{
  font-family: KC Ill Hand;
  color:#F5EAD6;
  background-color:#904729;
  font-size: 1.1em;
  min-height: 16px;
  overflow: hidden;
  padding-top: 6px;
  padding-left: 10px;
  }


.divider {padding-top:4px;
          }


.navbar {
    width:auto;
    max-height: 130px;
    font-family: KC Ill Hand;
    font-size: 30px;
    color: #F5EAD6;
    background-color: #E27735;
    }


.headimage {
    object-fit: contain;
    background-color:#F5EAD6;
    }


.grid-container {
    width: auto;
    max-height: auto;
    display: grid;
    grid-template-columns: 50ch auto;
    gap: 0px;
    background-color:#904729;
    padding: 55px;
    }
.shops{
  position: absolute;
  left: 175px;
  display: block;
  width: 250px;
  height: auto;
  border: none;
  font-family: KC Ill Hand;
  color: white;
  background-color: #904729;
  padding: 4px;
  font-size: 23px;
  cursor: pointer;
  text-align: center;
  }
.clownimage {
    padding-right: 20px;
    padding-top: 8px;
    max-height: auto;
    max-width: auto;
    }



.grid-container {
      width: auto;
      max-height: auto;
      display: grid;
      grid-template-columns: 50ch auto;
      gap: 0px;
      background-color:#904729;
      padding: 55px;
    }
.column {
      max-height: 500px;
      float: left;
      width: 50%;
      padding-left: 10px;
      height: 500px;
      }
.fromfor{
    padding-top: 60px;
    padding-left: 60px;
    height: auto;
    width: auto;
}
.h3 {
    font-family: coffee-service, sans-serif;
    color:#904729;
    font-size: 40px;
    padding-top: 150px;
    }
.body1{
    font-family: KC Ill Hand;
    color:#904729;
    font-size: 12px;
    padding-right: 100px;
    font-size: clamp(.6rem, 1.5vw, 2rem);
    }


.grid-container2 {
    width: auto;
    max-height: auto;
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
    background-color:#904729;
    padding: 55px;
    }
    .ian {
      padding-top: 15px;
      font-family: coffee-service, sans-serif;
      color:#904729;
      font-size: 30px;
      }
      .cris {
        height: 200px;
        width: auto;
      }
      .bods {
        font-family: KC Ill Hand;
        color:#904729;
        font-size: 12px;
        padding-top: 10px;
        font-size: clamp(.6rem, 1.5vw, 2rem);
        padding-left: 15px;
        padding-right: 15px;
      }
      .lean {
        display: block;
        width: 120px;
        height:auto;
        border: none;
        font-family: KC Ill Hand;
        color: white;
        background-color: #904729;
        padding: 4px;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        }


.footerim {
    height: 200px;
    width: auto;
    padding-top: 5px;
    padding-left: 0px;
    border-spacing: 10px solid #904729;
    }
.h5 {
    font-family: coffee-service, sans-serif;
    color: #E27735;
    font-size: 25px;
    padding-top: 30px;
    }
    .mb-1 {
        font-family: KC Ill Hand;
        font-size: 18px;
        padding-left: 20px;
        }
.email {
  padding-bottom: 10px;
  }

.block{
  position: absolute;
  right: 200px;
  display: block;
  width: 120px;
  height:auto;
  border: none;
  font-family: KC Ill Hand;
  color: white;
  background-color: #904729;
  padding: 4px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  }
.social{
  font-family: coffee-service, sans-serif;
  color: #E27735;
  font-size: 25px;
  padding-top: 40px;
  }
.icons{
  width: 30px;
  height: auto;
  padding-left: 0px;
}
